  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }

  .button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    font-size: 18px;
    color: white;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn-ejercicio1 {background-color: #b00eb0;
  }

  .btn-ejercicio2 {background-color: #8bc820;
  }

  .button:hover {
    opacity: 0.8;
  }

  .btn-ejercicio1.hover {
    background-color: #b00eb0;
  }

.btn-ejercicio2.hover {
    background-color: #8bc820;
  }


